/* Newsletters */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 60px;
  color: rgba(232,232,232,255);
  height: 230px;
  background-color: rgba(47,47,47,255);
  font-size: 30px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.newsletter-input input {
  height: 100%;
  width: 325px;
  border: none;
  outline-style: none;
  padding: 0 0 0 15px;
  font-size: 18px;
  font-family: Trebuchet MS;
}

.newsletter-input img {
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
}

#submit {
  border-style: none;
  background-color: rgba(218,218,218,255);
  height: 100%;
  padding: 0;
  outline-style: none;
}

footer .container {
  padding: 25px 60px 30px;
  font-size: 15px;
  color: rgba(95,95,95,255);
}

/* Social Media Links */
.social-media {
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.social-media img {
  height: 40px;
  margin: 25px 25px 30px;
}


/* Footer-list */
footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#footer-links {
  padding: 30px 0 0;
  margin: 0 15px 9px;
  line-height: 1rem;
  text-align: center;
}

#footer-links li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

#footer-links a {
  text-decoration: none;
  color: rgba(95,95,95,255);
}

.footer-copyright {
  margin: 0 15px 9px;
  line-height: 1rem;
}

@media screen and (max-width: 550px) {
  .social-media img {
    margin: 25px 10px 30px;
  }
}

@media screen and (min-width: 550px) {
  .newsletter-input input {
    max-width: 380px;
  }


}

@media screen and (max-width: 1110px) {
  .newsletter {
    justify-content: center;
    text-align: center;
  }

  .newsletter-input {
    width: 100%;
  }

  .newsletter-input input {
    width: 100%;
  }

}
