body {
  margin: 0;
  font-family: sans-serif;
}

﻿* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  background-color: rgba(47,47,47,255);
  color: rgba(255,255,255,255);
}

.login a {
  color: rgba(255,255,255,255);
}

.login-links {
  text-transform: uppercase;
  font-size: 12px;
}

.search img {
  height: 15px;
  margin: 0 25px;
}
